*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    width: 50%;
    height: 050vh;
    background: #4bdeee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightskyblue;
    border-radius: 3.5rem;
}
.clock button{
    font-size: 50px;
    font-weight: bold;
}
button{
    padding: 15px;
    border: 2px solid beige;
    border-radius: 1.5rem;
    cursor: pointer;
}
